/* You can add global styles to this file, and also import other style files */
@import '../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css';
@import './styles/colors';


a {
  cursor: pointer;
}

body {
  margin: 0;
}

.root-app {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
}

.text--right {
  text-align: right;
}

.background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background: url(assets/images/code_binaire.jpg) no-repeat center fixed;
  background-size: cover;
  height: 100%;
}

.filtre {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background-color: rgba(0,0,0,0.5);
}
